/* ==========================================================================

    ███╗   ██╗ ██████╗      ██████╗  ██████╗ ██████╗ ███████╗
    ████╗  ██║██╔═══██╗    ██╔════╝ ██╔═══██╗██╔══██╗██╔════╝
    ██╔██╗ ██║██║   ██║    ██║  ███╗██║   ██║██║  ██║███████╗
    ██║╚██╗██║██║   ██║    ██║   ██║██║   ██║██║  ██║╚════██║
    ██║ ╚████║╚██████╔╝    ╚██████╔╝╚██████╔╝██████╔╝███████║
    ╚═╝  ╚═══╝ ╚═════╝      ╚═════╝  ╚═════╝ ╚═════╝ ╚══════╝

                     // NO MODS

===============================================================================

A Discord theme inspired by DIY punk zines,
photocopied flyers,
stencil graffiti
and underground culture.

Readable first.
Style second.

"If you don't like it,
make your own."

===============================================================================

Project:
No Gods // No Mods

Repository:
github.com/CsGage12/no-gods-no-mods

License:
MIT

===============================================================================
*/
